@font-face {
    font-family: 'ID Clarwe Mono';
    src: url('IDClarweMono-Regular.woff2') format('woff2'),
        url('IDClarweMono-Regular.woff') format('woff'),
        url('IDClarweMono-Regular.svg#IDClarweMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

